<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/boardList2.css}">
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="plus-button"></div>
<div class="social-button twitter-button"></div>
<div class="social-button facebook-button"></div>
<div class="social-button pinterest-button"></div>
<div class="social-button insta-button"></div>
<div class="wrapper">
    <div class="top__header">
        <div class="icon__menu">
            <div class="menu__mobile">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                     width="24" height="24"
                     viewBox="0 0 192 192"
                     style=" fill:#000000;">
                    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                       stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                       font-family="none" font-weight="none" font-size="none" text-anchor="none"
                       style="mix-blend-mode: normal">
                        <path d="M0,192v-192h192v192z" fill="none"></path>
                        <g fill="#ffffff">
                            <g id="surface1">
                                <path d="M0,34.56v7.68h192v-7.68zM0,92.16v7.68h192v-7.68zM0,149.76v7.68h192v-7.68z"></path>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
        </div>
        <h3>We are Memory</h3>
        <a href="/" style="float: right;">home</a>

    </div>
    <div class="cards">
        <div class="card scale" th:each="board : ${boardList}">
            <div class="card__img">
                <picture>
                    <source media="(max-width: 320px)"
                            th:attr="srcset=|/images/${board.getPhotos()[0].getNewFileName()}|" sizes="">
                    <source media="(min-width: 538px)"
                            th:attr="srcset=|/images/${board.getPhotos()[0].getNewFileName()}|">

                    <img th:src="|/images/${board.getPhotos()[0].getNewFileName()}|" style="width: 100%">
                </picture>
            </div>
            <div class="card__details">
                <h3 for="cozyroom" th:text="${board.getTitle()}">Cozying Room</h3>
                <div class="address" th:text="${board.getWriteDate()}">테스트</div>
                <div class="price">
                    <div class="star">
                        <img src="https://image.flaticon.com/icons/svg/291/291205.svg" alt="">
                        <img src="https://image.flaticon.com/icons/svg/291/291205.svg" alt="">
                        <img src="https://image.flaticon.com/icons/svg/291/291205.svg" alt="">
                        <img src="https://image.flaticon.com/icons/svg/291/291205.svg" alt="">
                    </div>
                    <div class="price__l">
                        <span class="price__label" th:text="${board.getUser().getName()}">IDR 1500K /</span>
                    </div>
                </div>
                <button>Detail</button>
            </div>
            <span class="credit-img">image by: @seokseokNa</span>
        </div>

    </div>
</div>
<script language="JavaScript" type="text/javascript">
    $(document).ready(function(){

// Social plus button function
        $('.plus-button').click(function(){
            $(this).toggleClass('open');
            $('.social-button').toggleClass('active');
        });

    });


</script>

</body>
</html>