<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/boardForm2.css}">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magicsuggest/2.1.4/magicsuggest-min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');

        *{
            font-size: 25px;
            font-family: 'Cute Font', cursive;
        }
    </style>
</head>
<body>
<form th:action="@{/board/new2}" th:object="${boardForm}" method="post" enctype="multipart/form-data">
<div class="container" style="width: 70%;margin-top: 2%;">
    <div class="post-form">
        <div class="post-form-backdrop closed"></div>
        <div class="post-section editor-title" style="background-color: #eefdfe;">
            <h3 class="page-title">새 게시글</h3>
        </div>
        <div class="post-section" style="background-color: #f3fff0;">
            <label for="post-title">Post Content</label>
            <div class="post-section editor-title">
                <input type="text" name="title" id="post-title" class="post-input large" placeholder="Title" th:field="*{title}" style="background-color: #f3fff0;"/>
                <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Incorrect date</p>
            </div>
            <div class="post-content">
                <textarea name="content" class="post-input" placeholder="Content" th:field="*{contents}" style="background-color: #f3fff0;"></textarea>
                <p th:if="${#fields.hasErrors('contents')}" th:errors="*{contents}">Incorrect date</p>
            </div>
        </div>
        <div class="post-section post-media">
            <h2 style="font-size: 13px;color: #97c7a6;">여러파일을 올리시려면 파일선택 후 여러개를 한번에 올리셔야 합니다.</h2>
            <label>사진</label>
            <div class="post-media-inner">
                <button type="button" class="post-media-icon btn btn-default" id="imgbtn">
                    <i class="glyphicon glyphicon-plus"></i><br>
                    Add photo
                </button>
                <input style="display: none" type="file" id="image" accept="image/*" multiple="multiple"onchange="setThumbnail(event,this);"/>
                <div id="image_container"></div>

            </div>
        </div>
        <div class="post-section post-buttons">
            <button type="button" class="btn btn-primary" onclick="goData();">저장</button>
            <button type="button" class="btn btn-success" onclick="window.location='/board/list2'">취소</button>
        </div>
    </div>
</div>
</form>


    <script language="JavaScript" type="text/javascript">
        var storedFiles = []; //전송파일 배열

        function setThumbnail(event , file) {
            var fileList = file.files;
            for (var i = 0; i < fileList.length; i++) {
                storedFiles.push(fileList[i]);
            }

            for (var image of event.target.files) {
                var reader = new FileReader();
                console.log(image);
                reader.onload = function (event) {
                    // <div className="post-media-icon thumbnail">
                    //     <button className="delete-media btn btn-danger btn-xs">&times;</button>
                    //     <img src="//placehold.it/150x150" alt=""/>
                    // </div>

                    var div = document.createElement("div");
                    div.className = "post-media-icon thumbnail";
                    div.id = "thumbnail";
                    var button = document.createElement("button");
                    button.className = "delete-media btn btn-danger btn-xs";
                    button.setAttribute('type','button');
                    //파일삭제 함수첨부
                    button.onclick = function () {
                        var index = $("button.btn-xs").index(this); //지금 누른 버튼의 index를 구해서
                        storedFiles.splice(index,1); //파일배열에서 해당index에 맞는 애를 지운다.
                        $(this).parent().remove();
                    };

                    button.innerHTML = "&times";
                    var img = document.createElement("img");
                    img.style.width = "100%";
                    img.style.height = "100%";
                    img.setAttribute("src", event.target.result);
                    div.appendChild(button);
                    div.appendChild(img);


                    document.querySelector("button#imgbtn").before(div);
                };
                // console.log(image);
                reader.readAsDataURL(image);
            }

        };

        //트리거 함수
        $("#imgbtn").bind('click', function () {
            $("#image").click();
        });

        //전송
        function goData(){
            var editForm = $("form");
            var formData = new FormData(editForm[0]);

            formData.append("test","나원석");
            for (var i = 0; i < storedFiles.length; i++) {
                formData.append("files", storedFiles[i]);
            }


            $.ajax({
                method: "POST",
                data: formData,
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function (res) {
                    console.log(res);
                    if (res.success == "true") {
                        alert("저장되었습니다 !")
                        window.location = '/board/list2';
                    } else {
                        $(".error").remove();
                        $.each(res, function (key, value) {
                            $("input[name='" + key + "'],textarea[name='"+key+"']").after('<p class="error">' + value + '</p>');
                        });
                    }
                },
                error: function () {
                    alert("failed! ")
                }
            });

        }






    </script>

</body>
</html>